{:source-paths ["src"]

 :dependencies
 [[clj-kondo "2022.06.22"]

  [reagent "1.1.1"]
  [re-frame "1.3.0"]
  [metosin/reitit "0.5.18"]]

 :dev-http {8280 "public"}

 :builds
 {:web
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules
   {:app {:init-fn shared-routing.core/init}}}}}
